doctype html
html
  head
    title Nightlife Coordination App
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    script(src="./controllers/jquery-3.2.1.min.js")
    .searchWindow
        for result, index in results
            .resultRecord
                .resultRecordHeader
                    p= result.name
                .resultRecordImage(style='background-image:url("'+result.image_url+'")')
                .yelpRating
                  p.yelpRatingReviews= result.review_count+' Reviews'
                  if result.rating == 1
                    img.yelpRatingImage(src='../public/img/small_1.png')
                  else
                  if result.rating == 1.5
                    img.yelpRatingImage(src='../public/img/small_1_half.png')
                  else
                  if result.rating == 2
                    img.yelpRatingImage(src='../public/img/small_2.png')
                  else
                  if result.rating == 2.5
                    img.yelpRatingImage(src='../public/img/small_2_half.png')
                  else
                  if result.rating == 3
                    img.yelpRatingImage(src='../public/img/small_3.png')
                  else
                  if result.rating == 3.5
                    img.yelpRatingImage(src='../public/img/small_3_half.png')
                  else
                  if result.rating == 4.0
                    img.yelpRatingImage(src='../public/img/small_4.png')
                  else
                  if result.rating == 4.5
                    img.yelpRatingImage(src='../public/img/small_4_half.png')
                  else
                  if result.rating == 5
                    img.yelpRatingImage(src='../public/img/small_5.png')
                hr
                .price
                  p Price
                  p= result.price
                .distance
                  p Distance
                  p= result.distance+" M"
                .toAttend
                  .rsvpButton(onclick='openRsvpWindow('+index+')')
                    p RSVP
        .rsvpWindowContainer(id='rsvpWindowContainerId')  
        .rsvpWindow(id='rsvpWindowId')
          .rsvpWindowHeader
            .exitButton(onclick='closeRsvpWindow()')
          .rsvpWindowMap(id='map')
          .rsvpWindowInfo
            .rsvpWindowInfoLeft
              .rsvpWindowInfoHeader
                p.yelpRatingReviews(id="windowRatingReviews") 3 Reviews
                img.yelpRatingImage(id='windowRatingImage' src='../public/img/small_1.png')
              .address
                p.infoTitle Address
                p.addressOne 13432 Bluffingpalls Lane
                p.addressTwo Houston TX, 77043
              .contact
                p.infoTitle Contact
                p.infoPhone (713) 241-3948
            .rsvpWindowInfoRight
              .confirmButton
                  p Confirm
    script(type='text/javascript').
      var data = !{JSON.stringify(raw)}
    script(src="./controllers/rsvpWindowController.client.js")